body {
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1500581276021-a4bbcd0050c5?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    text-shadow: 0 0.05rem 0.1rem rgba(0,0,0,0.5);
    box-shadow: inset 0 0 5rem rgba(0,0,0,0.5);
}

.cover-container {
    max-width: 60vw;
}

.nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255,255,255,0.5);
    margin-left: 1rem;
    border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
    /* color: rgba(255,255,255,0.8); */
    color: #4f772d;
    border-bottom-color: #4f772d;
}

.nav-link.active {
    color: white;
    border-bottom-color: white;
}

.btn-secondary, .btn-secondary:hover {
    color: #333;
    text-shadow: none;
}

.welcome {
    font-size: 1.5em;
    font-weight: bold;
}

h1 {
    font-weight: bold;
    font-size: 3em;
    color: transparent;
    background-image: linear-gradient(to left, red, rgb(255, 153, 0), rgb(255, 213, 0));
    background-clip: border-box;
    -webkit-background-clip: text;
    animation: animate 3s linear infinite;
    -webkit-background-size: 400%;
    background-size: 400%;

}

@keyframes animate {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}

h3 {
    text-shadow: 4px 4px 3px #4f772d ;
}

.viewCampgrounds {
    background-color: #4f772d;
    color: white;
    border: 1px solid white;
}

.viewCampgrounds:hover {
    background-color: #50772d99;
    color: white;
    border: 1px solid white;
}